*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
google-services.json
proguard-rules.pro
gradle/
libs/
.idea/caches/
.idea/modules.xml/
.idea/dictionaries/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml